name: Check Nix

on:
  push:

jobs:
  check:
    name: Check
    runs-on:
      ubuntu-22.04
    steps:
      - uses: actions/checkout@v6.0.0
      - uses: DeterminateSystems/nix-installer-action@v21
      - uses: DeterminateSystems/magic-nix-cache-action@v13
      - name: nix flake check
        run: |
          NIXPKGS_ALLOW_UNFREE=1 nix flake check --impure --keep-going -L
